body {
    background: #e0e6e9;
}

.home {
    background: #6d4d6e;
    color: white;
}

.contact-me {
    background: #6d4d6e;
    color: white;
}

.nav-bar {
    background: #6d4d6e;
}

.intro {
    padding: 120px 50px 0;
}

.navbar {
    background-color: #6d4d6e;
    padding: 10px 25px 0;
}

.navbar-nav {
    margin-left: auto;
}

.header-img {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    display: inline-block;
    color: #e0e6e9;
    text-decoration: none;
    padding: 20px 50px;
    border: 3px solid #6d4d6e;
    border-radius: 10px;
}

a:hover {
    animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
    0% {
        box-shadow: 
        0 0 25px #a3a4be,
        0 0 25px #6d4d6e;
    }
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}

.nav-link {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: #e0e6e9;
}

.about-me {
    font-family: 'Montserrat', sans-serif;
    color: #6d4d6e;
}

.bio-text {
    padding: 30px 40px;
}

.projects-container {
    padding: 50px;
}

.projects-header {
    padding-top: 50px;
    font-size: 35px;
    color: #6d4d6e;
}

.about-text {
    padding-top: 50px;
    font-size: 35px;
    color: #6d4d6e;
}

.youtube-creator {
    background-color: #6d4d6e;
    color: #e0e6e9;
    padding: 70px;
}

.yt-buttons {
    text-align: center;
}

.yt-text {
    padding-bottom: 25px;
    font-size: 35px;
}

.creator-description {
    padding-bottom: 25px;
}

.card-bg-color {
    background-color: #a3a4be;
}

.footer-text {
    text-align: center;
    padding: 50px 0 25px;
}

.social-handles {
    text-align: center;
    font-size: 45px;
    padding: 35px 0 0;
}

.footer-header {
    padding: 50px 0 0;
    font-size: 35px;
}