body {
    background: white;
}

.home {
    background: #b25782;
    color: white;
}

.contact-me {
    background: #C1789B;
    color: white;
}

.nav-bar {
    background: #b25782;
}

.intro {
    padding: 120px 50px 0;
}

.navbar {
    background-color: #b25782;
    padding: 10px 25px 0;
}

.navbar-nav {
    margin-left: auto;
}

.header-img {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

h2 {
    font-family: 'Work Sans', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
}

.nav-link {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
}

.navbar-light .navbar-brand {
    color: white;
}

.about-me {
    font-family: 'Montserrat', sans-serif;
    color: #606060;
}

.bio-text {
    padding: 30px 40px;
}

.projects-container {
    padding: 50px;
}

.projects-header {
    padding-top: 50px;
    font-size: 35px;
    color: #606060;
}

.about-text {
    padding-top: 50px;
    font-size: 35px;
    color: #606060;
}

.youtube-creator {
    background-color: #C1789B;
    color: white;
    padding: 70px;
}

.yt-buttons {
    text-align: center;
}

.yt-text {
    padding-bottom: 25px;
    font-size: 35px;
}

.creator-description {
    padding-bottom: 25px;
}

.card-bg-color {
    background-color: #DFBBCD;
}

.footer-text {
    text-align: center;
    padding: 50px 0 25px;
}

.social-handles {
    text-align: center;
    font-size: 45px;
    padding: 35px 0 0;
}

.footer-header {
    padding: 50px 0 0;
    font-size: 35px;
}