:root {
    --bg: #c8d0d8;
    --grey: #83919c;
    --pink: #c284a1;
    --purple: #b25782;
}

body {
    background: white;
}

h1 {
    color: #c284a1;
    font-size: 3em;
}

p {
    color: var(--purple);
    font-size: 2em;
    font-weight: bold;
}

section {
    padding: 105px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 15px;
    display: block;
}

header ul {
    position: relative;
    display: flex;
    height: 40px;
    width: 40px;
    cursor: pointer;
  }
  
  header ul li {
    position: relative;
    list-style: none;
  }
  
  header ul li a {
    position: relative;
    display:block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
  }

.avatar {
    min-width: 50%;
}
img {

    max-width: 60%;
    border-radius: 50%;
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.9));
}
.banner img {
    width: 30px; 
    height: 30px;
}
.title {
    background-color: white;
}
.title {
    position: relative;
    display: flex;
    background: white;
    background-size: cover;
    justify-content: space-between;
    align-items: center;  
}
.side-tabs a {
    margin: 0px 20px 0 20px;
    cursor: pointer;
    border: none;
    padding: 10px;
    background-color: #b25782;
    color: white;
}

button {
	border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    background-color: #b25782;
}
a {
    color: white;
}

.about {
    background-color: #c284a1;
    background-size: cover;
    
}

.about h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.about p {
    color: white;
    font-size: 16px;
    font-weight: normal;
}
.projects {
    background-color: white;
}
.projects h2 {
    color: var(--purple);
    text-transform: uppercase;
    text-align: center;
}

.projects p {
    color: var(--purple);
    font-size: 16px;
    font-weight: normal;
    position: relative;
    display: flex;
}

.projects img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--pink);
    position: relative;
    display: flex;
    /* float: left; */
    /* padding: 0.5em 0.5em 0.5em */
}

.blog h2 {
    color: #b25782;
    text-transform: uppercase;
    text-align: center;
    -moz-background-clip:  url(vid1.mp4);
}
.blog #background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 50%;
  }

.blog img {
    width: 30%;
    height: 30%;
  }
.contact {
    background-color: var(--pink)
}

.projects a {
    border-radius: 20px;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
    background-color: #b25782;
    float: right;
}

.blog a {
    
}
.contact h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.contact form {
    width: 100;
    padding: 40px 40px;
    box-sizing: border-box;
    height: 250px;
    background: white;
}

.contact form input {
    border: none;
    border-bottom: 2px solid #b25782;
    outline: none;
    height: 40px;
}

.contact form button {
        border-radius: 20px;
        border: 1px solid #b0d9ec;
        background-color: #b25782;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
}

