:root {
    --bg: #c8d0d8;
    --grey: #83919c;
    --pink: #c284a1;
    --purple: #b25782;
}

body {
    background: white;
}

h1 {
    color: #c284a1;
    font-size: 3em;
}

p {
    color: var(--purple);
    font-size: 2em;
    font-weight: bold;
}

section {
    padding: 100px;
}

.side-tabs li {
    background-color: #c284a1;
    color: white;
    position: relative;
    padding: 0 15px;
    display: flex;
    list-style: none;
    cursor: pointer;
    text-align: center;
    display: block;
    float: left;
}

img {
    max-width: 50%;
    border-radius: 50%;
    border-style: inset;
    border: 5px solid var(--pink);
}

a {
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 14px 28px;
    background-color: #b25782;
    color: white;
}

.about {
    background-color: #c284a1;

}

.about h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
}
.about p {
    color: white;
    font-size: 16px;
    font-weight: normal;
}

.skills {
    background-color: var(--purple)
}

.contact {
    background-color: var(--pink)
}

footer {
    background-color: white;
}